.project-container {
    position: relative;
    margin: 4rem 0;

}

.project-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 3rem;
}

.arrow-left,
.arrow-right {
    width: 2rem;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6751b9;
    border-radius: 0.65rem;
    border: 2px solid #6751b9;
    background: rgb(184, 143, 218);
    position: absolute;
    top: 55%;
    z-index: 2;
    cursor: pointer;
}

.arrow-left span,
.arrow-right span {
    font-size: 2rem;
    font-weight: 500;
}

.arrow-left {
    left: -2rem;
}

.arrow-right {
    right: -2rem;
}

@media (max-width: 1025px) {
    .arrow-left {
        left: 0rem;
    }

    .arrow-right {
        right: 0rem;
    }
}